.contp{
	margin-top: 8%;
	text-align: center;
	color: white;
}
#un{
	width: 52%;
	height: 52%;
}
.info{
	text-align: center;
	margin-top: 2%;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
	box-shadow: 2em;
	border: outset;
}
/*efectos hover*/
.info{
	background: url(../imagenes/estelista.jpg); 
	background-color: grey;
	background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.info>p , .info>img{
	opacity: 0;
}
.info:hover>p , .info:hover>img{
	opacity: 1;
}
.info:hover{
	background-image:none;
	background-color: grey;
	transition: 3s;
	transform: scale(1.1);

}



.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {

  height: 100%;
  
  width: auto;
}
.parallax, .parallax1 { 
    /* The image used */
    background-image: url("../imagenes/baner.jpg");

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1{
	background-image: url("../imagenes/estilo.jpg");
}
#fot{
		background-color: black;

}


@media only screen and (max-device-width: 1024px) {
    .parallax,.parallax1 {
        background-attachment: scroll;
    }
}
